<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<title>Jewish-Classified</title>
<link rel="stylesheet" href="css/style.css">
<!--[if lt IE 9]>
<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
<script>
  document.createElement('header');
  document.createElement('section');
  document.createElement('article');
  document.createElement('aside');
  document.createElement('nav');
  document.createElement('footer');
</script>
<script src="js/jquery-1.11.0.min.js"></script> 
<script src="js/easyResponsiveTabs.js" type="text/javascript"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $('#verticalTab').easyResponsiveTabs({
            type: 'vertical',
            width: 'auto',
            fit: true
        });
    });
</script>
</head>

<body>
 <header>
 <div class="container">
  <figure class="logo"><a href="index.html"><img src="images/logo.png" alt=""></a></figure>
  <div class="search-bar"><input type="search" placeholder="Search"><input type="submit" value=""></div>
  <ul>
      <li>New York City</li>
<!--      <li><span>lac</span></li>
      <li><span>la</span></li>
      <li><span>sf</span></li>
      <li><span>phl</span></li>-->
   </ul>
 </div>
 </header>
 
<div class="container">
 <article class="page-content">
  <ul class="page-nav">
    <li><a href="#">homepage></a></li>
    <li>community Forums</li>
  </ul>
<ul class="page-navi">
 <li>Community <span>Forums</span></li>
 <li><a href="#">Questions</a></li>
 <li><a href="#">Announcements</a></li>
 <li><a href="#">Discussions</a></li>
 <li><a href="#">Promos</a></li>
 <li><a href="#">Chitchat</a></li>
 <li><a href="#">Your Threads</a></li>
 <li><a href="#">Bugs</a></li>
</ul>

<div class="content-left">
 <section class="forums-post">
 <h3>Questions</h3>
  <ul>
       <li><figure class="thum2"><img src="images/img1.png" alt=""></figure>
       <h4><a href="#">Quick Guide for Transaction Questions</a><br><span><a href="#">open case</a></span><span><a href="#">buying</a></span></h4>
       <h5><span>133</span>09 Jan, 2015</h5>
       </li>
       <li><figure class="thum2"><img src="images/img1.png" alt=""></figure>
       <h4><a href="#">Quick Guide for Transaction Questions</a><br><span><a href="#">open case</a></span><span><a href="#">buying</a></span></h4>
       <h5><span>133</span>09 Jan, 2015</h5>
       </li>
       <li><figure class="thum2"><img src="images/img1.png" alt=""></figure>
       <h4><a href="#">Quick Guide for Transaction Questions</a><br><span><a href="#">open case</a></span><span><a href="#">buying</a></span></h4>
       <h5><span>133</span>09 Jan, 2015</h5>
       </li>
       <li><figure class="thum2"><img src="images/img1.png" alt=""></figure>
       <h4><a href="#">Quick Guide for Transaction Questions</a><br><span><a href="#">open case</a></span><span><a href="#">buying</a></span></h4>
       <h5><span>133</span>09 Jan, 2015</h5>
       </li>                   
   </ul>
 <h3>Announcements</h3>
  <ul>
       <li><figure class="thum2"><img src="images/img1.png" alt=""></figure>
       <h4><a href="#">Quick Guide for Transaction Questions</a><br><span><a href="#">open case</a></span><span><a href="#">buying</a></span></h4>
       <h5><span>133</span>09 Jan, 2015</h5>
       </li>
       <li><figure class="thum2"><img src="images/img1.png" alt=""></figure>
       <h4><a href="#">Quick Guide for Transaction Questions</a><br><span><a href="#">open case</a></span><span><a href="#">buying</a></span></h4>
       <h5><span>133</span>09 Jan, 2015</h5>
       </li>
       <li><figure class="thum2"><img src="images/img1.png" alt=""></figure>
       <h4><a href="#">Quick Guide for Transaction Questions</a><br><span><a href="#">open case</a></span><span><a href="#">buying</a></span></h4>
       <h5><span>133</span>09 Jan, 2015</h5>
       </li>
       <li><figure class="thum2"><img src="images/img1.png" alt=""></figure>
       <h4><a href="#">Quick Guide for Transaction Questions</a><br><span><a href="#">open case</a></span><span><a href="#">buying</a></span></h4>
       <h5><span>133</span>09 Jan, 2015</h5>
       </li>                   
   </ul>  
 <h3>Discussions</h3>
  <ul>
       <li><figure class="thum2"><img src="images/img1.png" alt=""></figure>
       <h4><a href="#">Quick Guide for Transaction Questions</a><br><span><a href="#">open case</a></span><span><a href="#">buying</a></span></h4>
       <h5><span>133</span>09 Jan, 2015</h5>
       </li>
       <li><figure class="thum2"><img src="images/img1.png" alt=""></figure>
       <h4><a href="#">Quick Guide for Transaction Questions</a><br><span><a href="#">open case</a></span><span><a href="#">buying</a></span></h4>
       <h5><span>133</span>09 Jan, 2015</h5>
       </li>
       <li><figure class="thum2"><img src="images/img1.png" alt=""></figure>
       <h4><a href="#">Quick Guide for Transaction Questions</a><br><span><a href="#">open case</a></span><span><a href="#">buying</a></span></h4>
       <h5><span>133</span>09 Jan, 2015</h5>
       </li>
       <li><figure class="thum2"><img src="images/img1.png" alt=""></figure>
       <h4><a href="#">Quick Guide for Transaction Questions</a><br><span><a href="#">open case</a></span><span><a href="#">buying</a></span></h4>
       <h5><span>133</span>09 Jan, 2015</h5>
       </li>                   
   </ul>      
 <h3>Promos</h3>
  <ul>
       <li><figure class="thum2"><img src="images/img1.png" alt=""></figure>
       <h4><a href="#">Quick Guide for Transaction Questions</a><br><span><a href="#">open case</a></span><span><a href="#">buying</a></span></h4>
       <h5><span>133</span>09 Jan, 2015</h5>
       </li>
       <li><figure class="thum2"><img src="images/img1.png" alt=""></figure>
       <h4><a href="#">Quick Guide for Transaction Questions</a><br><span><a href="#">open case</a></span><span><a href="#">buying</a></span></h4>
       <h5><span>133</span>09 Jan, 2015</h5>
       </li>
       <li><figure class="thum2"><img src="images/img1.png" alt=""></figure>
       <h4><a href="#">Quick Guide for Transaction Questions</a><br><span><a href="#">open case</a></span><span><a href="#">buying</a></span></h4>
       <h5><span>133</span>09 Jan, 2015</h5>
       </li>
       <li><figure class="thum2"><img src="images/img1.png" alt=""></figure>
       <h4><a href="#">Quick Guide for Transaction Questions</a><br><span><a href="#">open case</a></span><span><a href="#">buying</a></span></h4>
       <h5><span>133</span>09 Jan, 2015</h5>
       </li>                   
   </ul>   
 <h3>Chitchat</h3>
  <ul>
       <li><figure class="thum2"><img src="images/img1.png" alt=""></figure>
       <h4><a href="#">Quick Guide for Transaction Questions</a><br><span><a href="#">open case</a></span><span><a href="#">buying</a></span></h4>
       <h5><span>133</span>09 Jan, 2015</h5>
       </li>
       <li><figure class="thum2"><img src="images/img1.png" alt=""></figure>
       <h4><a href="#">Quick Guide for Transaction Questions</a><br><span><a href="#">open case</a></span><span><a href="#">buying</a></span></h4>
       <h5><span>133</span>09 Jan, 2015</h5>
       </li>
       <li><figure class="thum2"><img src="images/img1.png" alt=""></figure>
       <h4><a href="#">Quick Guide for Transaction Questions</a><br><span><a href="#">open case</a></span><span><a href="#">buying</a></span></h4>
       <h5><span>133</span>09 Jan, 2015</h5>
       </li>
       <li><figure class="thum2"><img src="images/img1.png" alt=""></figure>
       <h4><a href="#">Quick Guide for Transaction Questions</a><br><span><a href="#">open case</a></span><span><a href="#">buying</a></span></h4>
       <h5><span>133</span>09 Jan, 2015</h5>
       </li>                   
   </ul>         
 <h3>Yours Threads</h3>
  <ul>
       <li><figure class="thum2"><img src="images/img1.png" alt=""></figure>
       <h4><a href="#">Quick Guide for Transaction Questions</a><br><span><a href="#">open case</a></span><span><a href="#">buying</a></span></h4>
       <h5><span>133</span>09 Jan, 2015</h5>
       </li>
       <li><figure class="thum2"><img src="images/img1.png" alt=""></figure>
       <h4><a href="#">Quick Guide for Transaction Questions</a><br><span><a href="#">open case</a></span><span><a href="#">buying</a></span></h4>
       <h5><span>133</span>09 Jan, 2015</h5>
       </li>
       <li><figure class="thum2"><img src="images/img1.png" alt=""></figure>
       <h4><a href="#">Quick Guide for Transaction Questions</a><br><span><a href="#">open case</a></span><span><a href="#">buying</a></span></h4>
       <h5><span>133</span>09 Jan, 2015</h5>
       </li>
       <li><figure class="thum2"><img src="images/img1.png" alt=""></figure>
       <h4><a href="#">Quick Guide for Transaction Questions</a><br><span><a href="#">open case</a></span><span><a href="#">buying</a></span></h4>
       <h5><span>133</span>09 Jan, 2015</h5>
       </li>                   
   </ul>         
 <h3>Bugs</h3>
  <ul>
       <li><figure class="thum2"><img src="images/img1.png" alt=""></figure>
       <h4><a href="#">Quick Guide for Transaction Questions</a><br><span><a href="#">open case</a></span><span><a href="#">buying</a></span></h4>
       <h5><span>133</span>09 Jan, 2015</h5>
       </li>
       <li><figure class="thum2"><img src="images/img1.png" alt=""></figure>
       <h4><a href="#">Quick Guide for Transaction Questions</a><br><span><a href="#">open case</a></span><span><a href="#">buying</a></span></h4>
       <h5><span>133</span>09 Jan, 2015</h5>
       </li>
       <li><figure class="thum2"><img src="images/img1.png" alt=""></figure>
       <h4><a href="#">Quick Guide for Transaction Questions</a><br><span><a href="#">open case</a></span><span><a href="#">buying</a></span></h4>
       <h5><span>133</span>09 Jan, 2015</h5>
       </li>
       <li><figure class="thum2"><img src="images/img1.png" alt=""></figure>
       <h4><a href="#">Quick Guide for Transaction Questions</a><br><span><a href="#">open case</a></span><span><a href="#">buying</a></span></h4>
       <h5><span>133</span>09 Jan, 2015</h5>
       </li>                   
   </ul>         



</section>
</div>

<aside class="side-bar-right">
 <h2>Jewish Community Announcements</h2>
 <ul>
     <li>1 day ago<a href="#">Join Our Community Celebration!</a></li>
     <li>08 Apr, 2015<a href="#">Check Out Etsy's Redesigned 
Seller Handbook!</a></li>
     <li>08 Apr, 2015<a href="#">Check Out Etsy's Redesigned 
Seller Handbook!</a></li>
     <li>08 Apr, 2015<a href="#">Check Out Etsy's Redesigned 
Seller Handbook!</a></li>
     <li>08 Apr, 2015<a href="#">Check Out Etsy's Redesigned 
Seller Handbook!</a></li>
  </ul>

<h4><a href="#">Forums Guidelines</a><a href="#">Teams</a></h4>
</aside>



 <div class="clear"></div>
 </article>
</div>


<footer>
<div class="container">
 <ul>
      <li>© 2015 Jewish classified site.</li>
      <li><a href="#">help</a></li>
      <li><a href="#">safety privacy</a></li>
      <li><a href="#">feedback</a></li>
      <li><a href="#">cl jobs</a></li>
      <li><a href="#">terms</a></li>
      <li><a href="#">about</a></li>
      <li><a href="#">mobile</a></li>
  </ul>
<div class="social">
<a href="#"><img src="images/fb.png" alt=""></a>
<a href="#"><img src="images/twitter.png" alt=""></a>
<a href="#"><img src="images/g+.png" alt=""></a>
</div>
</div>
</footer>
</body>
</html>
